html {
    width:960px;
    background-image:url()
    
}
nav {
    overflow:auto;
}
#navp {
    display:inline-block;
}
ul {
    float:right;
    list-style-type:none;
}

li {
    display:inline;
}


main {
    overflow:auto;
}
img {
    float:left;
    width:250px;
    height:250px;
}

footer {
    text-align:center;
}